{% extends "_base.html" %}

{% block content %}

    <div class="text-center">
        <h1>Review Summary!</h1>
    </div>
    <hr/>

    <div class="text-center">
        <h4 class="h4">Original Review!</h4>
    </div>
    <div class="alert-info">
        {{ review }}
    </div>
    <p class="text-danger">Review overall sentiment: {{ sentiment }}</p>
    <hr/>

    <div class="text-center">
        <h4 class="h4">Sentence Relevance!</h4>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in sentences.items() %}
                <tr class="success">
                    <td>{{ key }}</td>
                    <td class="text-danger">{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>



    <div class="text-center">
        <h4 class="h4">Usert intention!</h4>
    </div>

    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Intention</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in intent.items() %}
                <tr class="success">
                    <td>{{ key }}</td>
                    <td class="text-danger">{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
