{% extends "_base.html" %}

{% block content %}

    <div class="text-center">
        <h2>Review Summary!</h2>
    </div>
    <hr/>

    <div class="text-center">
        <h4 class="h4">Original Review!</h4>
    </div>
    <div>
        {{ review }}
    </div>
    <p class="text-danger">Review overall sentiment: {{ sentiment }}</p>
    <hr/>

    <div class="text-center">
        <h4 class="h4">Sentence Relevance!</h4>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in sentences.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>



    <div class="text-center">
        <h4 class="h4">Usert intention!</h4>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Intention</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in intent.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/" class="btn btn-info" role="button">Try another review</a>


{% endblock %}
