{% extends "_base.html" %}

{% block content %}
<div class="container" style="padding:10em">
    <div class="text-center">
        <h2>Review Summary!</h2>
    </div>
    <hr/>

    <div class="text-center">
        <h4 class="h4">ORIGINAL REVIEW!</h4>
    </div>
    <div>
        {{ review }}
    </div>
    <p class="text-danger">Review overall sentiment: {{ sentiment }}</p>
    <hr/>

    <div class="text-center">
        <h4 class="h4">SENTENCE RELEVANCE!</h4>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Class</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in sentences.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {%if value == 'Informative'%}
                        <span class="label label-success">{{ value }}</span>
                        {% else %}
                        <span class="label label-danger">{{ value }}</span>
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>



    <div class="text-center">
        <h4 class="h4">USER INTENTION!</h4>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Sentence</th>
                <th>Intention</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in intent.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>
                        {%if value == 'Problem Discovery'%}
                        <span class="label label-danger">{{ value }}</span>
                        {% elif value == 'Feature Request' %}
                        <span class="label label-warning">{{ value }}</span>
                        {% elif value == 'Information Giving' %}
                        <span class="label label-success">{{ value }}</span>
                        {% else %}
                        <span class="label label-primary">{{ value }}</span>
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/" class="btn btn-info" role="button">Try another review</a>

</div>
{% endblock %}
